body{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono",monospace;
}
p{
    margin: 0
}
h1 {
    font-family: "Hebbo",sans-serif;
}

.main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8vw;
    padding-right: 8vw;
}
.wrapper {
    padding: 0;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: grid;
    padding: 1.55rem 0;
    margin: 0 auto 1.55rem;
    align-items: center;
    border-bottom: 2px solid #f5f9fb;
    grid-template-columns: 100%;
    column-gap: 3.1rem;
    grid-template-areas: 
    "miniheader"
    "title"
    "img-cover"
    "author";
}
.mini_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-area: miniheader;
    margin-bottom: .775rem;
}
.title {
    grid-area: title;
}
.author{
    grid-area: author;
    display: flex;
    align-items: center;
    margin-top: 3.1rem;
}
.author_container{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 1.5rem;
}
.profile_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}
.cover_image {
    grid-area: image-cover;
    position: relative;
    z-index: 1;
}
.cover_image::before {
    content: "";
    height: 100%;
    position: absolute;
    background: #f5f9fb;
    right: -1.55rem;
    bottom:-1.55rem;
    z-index: 0;
    width: 100%;
    border-radius: 8px;
}
.cover_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.cover_img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}



@media (min-width: 768px){
    .header {
        padding: 3.1rem 0;
        margin: 0 auto 3.rem;
        grid-template-columns: auto 40%;
        align-items: flex-start;
        grid-template-areas: 
        "miniheader miniheader"
        "title image-cover"
        "author author";
    }
    .main{
        padding-left: 4vw;
        padding-right: 4vw;
        overflow: hidden;
    }
}

@media (min-width: 990px){
    .header{
        grid-template-columns: auto 445px;
        column-gap: 10vw;
        align-items: center;
    }
}

@media (min-width: 1522px){
    .header{
        column-gap: 9rem;
    }
}