@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

html {
    border: 0;
    padding: 0;
    margin: 0;
    background: #ffffff;
    transition: all ease .5s;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}